[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-heroku = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"

[pipenv]
allow_prereleases = true
